@import "_null";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@font-face {
	font-family: 'Conv_AkzidenzGroteskPro-Bold';
	src: url('../fonts/AkzidenzGroteskPro-Bold.eot');
	src: local('☺'), url('../fonts/AkzidenzGroteskPro-Bold.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-Bold.ttf') format('truetype'), url('../fonts/AkzidenzGroteskPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal; }
@font-face {
	font-family: 'Conv_BebasNeue Regular';
	src: url('../fonts/BebasNeue Regular.eot');
	src: local('☺'), url('../fonts/BebasNeue Regular.woff') format('woff'), url('../fonts/BebasNeue Regular.ttf') format('truetype'), url('../fonts/BebasNeue Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal; }

// default Font
$font-family: 'PT Sans', sans-serif;

// Variables
$minwidth:320px;
$mw:880px;


