@import '_null';

@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/MyriadPro-Cond.eot");
    src: local("☺"), url("../fonts/MyriadPro-Cond.woff") format("woff"), url("../fonts/MyriadPro-Cond.ttf") format("truetype"), 
    url("../fonts/MyriadPro-Cond.svg") format("svg");
    font-weight: 500;
    font-style: normal; }


@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
%ff {font-family: 'Lato', sans-serif;}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
	background-color: #ffffff;
	border: 1px solid #888;
}
.main {}
img {max-width: 100%;}

.head {
	min-height: 400px;
	background: url(../img/bg_2.jpg) 0 0/contain no-repeat;
	&__menu {
		text-align: center;
	}
	&__list {
		& li{
            display: inline-block;
            padding: 0 0 40px 0;
			& img {
				max-width: 47px;
				max-height: 42px;
			}
        }
	}
	&__link {
		font-family: "Myriad Pro";
        font-size: 10.5px;
        letter-spacing: 2.3px;
        color: #4d4959;
	}
}

.container {
	max-width: 540px;
	margin: 0 auto;
}


.about {
	background-color: #f7f7f7;
	&__body {
	}
	&__logo {
		text-align: center;
		padding-top: 58.5px;
	}
	&__title {
		padding-top: 17.5px;
	}
	&__text {
		padding: 17.5px 0 71px 0;
	}
}

.title {
		font-family: "Myriad Pro";
		font-size: 9px;
		letter-spacing: 1.8px;
		text-align: center;
		color: #353738;
}
.text {
	@extend %ff;
	font-size: 9px;
	line-height: 1.89;
	text-align: center;
	color: #848789;
}

.work {
	display: flex;
	flex-direction: column;
	&__row {
		display: flex;
	}
	&__left-picture {
		flex: 1;
	}
	&__right-picture {
		flex: 1;
	}
}
.item {
	&__block{
		flex: 1 1 auto;
	}
	&__image {
		flex: 2;
	}
	&__body {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
	&__block-center {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
	&__block-logo {
		text-align: center;
		padding: 20px 0 10px 0;
	}
	&__block-title {
		padding-bottom: 10px;
	}

	&__block-text {
			&::after{
			content: '';
			display: block;
			width: 25px;
			height: 0.5px;
			margin: 16px auto 12px auto;
			background-color: #353738;
		}
	}
	&__btmpicture {}
}
.twitter {
	background-color: #f7f7f7;
	&__body {}
	&__logo {
		text-align: center;
		padding-top: 62px;
	}
	&__title{
		padding-top: 19px;
	}
	&__text{
		font-family: "Myriad Pro";
		font-size: 12px;
		line-height: 1.42;
		text-align: center;
		color: #848789;
		padding: 13px 0 34px 0;
		&::after{
			content: '';
			display: block;
			width: 50px;
			height: 50.5px;
			background: url(../img/ellipse_1_131.png) left no-repeat, url(../img/ellipse_1_copy_2_133.png) 50% 50% no-repeat, url(../img/ellipse_1_copy_2_133.png)  right no-repeat;
			margin: 16px auto 12px auto;
		}
	}

}
.shop {
	&__row {
		display: flex;
	}
	&__left-pic1 {
		flex: 1;
	}
	&__left-pic2 {
		flex: 1;
	}
	&__left-pic3 {
		flex: 2;
	}
	&__right-pic1 {
		flex: 2;
	}
	&__right-pic2 {
		flex: 1;
	}
	&__right-pic3 {
		flex: 1;
	}
	&__right-double{
		display: flex;
	}
	&__left-double{
		display: flex;
	}
	&__bottom {
		background-color: #282f35;
		height: 100px;
		padding: 37.5px 325px;
		& button{
			padding-bottom: 9.5px;
			letter-spacing: 1.4px;
			width: 180px;
			height: 25px;
			padding: 10.5px 33px 9.5px 34.5px;
			border: solid 0.5px rgba(255, 255, 255, 0.5);
			background-color: #282f35;
			color: #ffffff;
			font-family: "Myriad Pro";
			display: inline-block;
		}
	}
}
.shop-left {
	flex: 1;
	flex-wrap: wrap;
	display: flex;
}
.shop-center {
	flex: 1;
}
.shop-right {
	flex: 1;
	flex-wrap: wrap;
	display: flex;
}
.item-shop {
	display: flex;
	
}
.mailing {
	height: 234.5px;
	&__body {
		text-align: center;
		display: flex;
		flex-direction: column;
	}
	&__logo {
		padding-top: 54.5px;
	}
	&__title {
		font-family: Myriad Pro;
		font-size: 12px;
		line-height: 1.42;
		text-align: center;
		color: #848789;
		padding-top: 19px;
	}
	&__form {
		padding-top: 17px;
		& input{
			display: inline-block;
			width: 200px;
			height: 34.5px;
			border: solid 0.5px #d3d7d9;
			background-color: #ffffff;
			font-family: Myriad Pro;
			font-size: 10px;
			line-height: 1.2;
			text-align: center;
			color: #929292;
		}
		& button{
			display: inline-block;
			width: 63px;
			height: 34.5px;
			background-color: #64c29e;
			border: solid 0.5px #d3d7d9;
			font-family: Myriad Pro;
			line-height: 1.2;
			text-align: center;
		}
	}
}
.footer {
	background-color: #f7f7f7;
	height: 125px;
	&__row {
		display: flex;
		justify-content: space-around;
		padding: 54px 0;
	}
	&__adress {
		font-family: Myriad Pro;
		font-size: 7px;
		line-height: 1.29;
		text-align: left;
		color: #848789;
	}
	&__links {
		& img {
			max-height: 17px;
			max-width: 17px;
		}
	}
	&__by {
		font-family: Myriad Pro;
		font-size: 7px;
		line-height: 1.29;
		text-align: left;
		color: #848789;
		& img {
			max-height: 18px;
			max-width: 27px;
		}
	}
}