@import "_null";

$color_body: rgb(211, 211, 243);

%border{
    border: 1px solid #000000;
    box-shadow: 0 4px 1px rgba($color: #777, $alpha: 1.0);
    border-radius: 5px;}
%livebutton{
    &:active{
        color: #94388c;
        position: relative;
        top: 2px;
        box-shadow: 0 2px 1px rgba($color: #777, $alpha: 0.5);}
}


@mixin font($f,$c){
    font-weight: $f;
    text-align: $c;}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px;
}
.block{
    font-size: 18px;
    box-shadow: 0 0 3px 2px rgba($color: #000000, $alpha: 0.5);
    position: fixed;
    &__item {
        position: relative;
        z-index: 11;
    }
    &::before{
        content: '';
        background-color: $color_body;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
    }
}
