@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: 'PFDinTextCondPro';
  src: url("../Test/fonts/pfdintextcondpro-regular.eot");
  src: local("☺"), url("../Test/fonts/pfdintextcondpro-regular.woff") format("woff"), url("../Test/fonts/pfdintextcondpro-regular.ttf") format("truetype"), url("../Test/fonts/pfdintextcondpro-regular.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PFDinTextCondPro';
  src: url("../Test/fonts/pfdintextcondpro-medium.eot");
  src: local("☺"), url("../Test/fonts/pfdintextcondpro-medium.woff") format("woff"), url("../Test/fonts/pfdintextcondpro-medium.ttf") format("truetype"), url("../Test/fonts/pfdintextcondpro-medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

body {
  padding: 10px;
  background-color: #beecdd;
}

.text-original, .text, .text-PDFin, .text-PDFinMedium {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #000;
}

.text-original p, .text p, .text-PDFin p, .text-PDFinMedium p {
  margin-bottom: 15px;
}

.text {
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
}

.text-PDFin {
  font-family: 'PFDinTextCondPro';
}

.text-PDFinMedium {
  font-family: 'PFDinTextCondPro';
  font-weight: 500;
}
