@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@font-face {
	font-family: "MyriadPro", sans-serif;
	src: url("fonts/MyriadPro-Regular.eot");
	src: local("☺"), url("fonts/MyriadPro-Regular.woff") format("woff"), url("fonts/MyriadPro-Regular.ttf") format("truetype"), url("fonts/MyriadPro-Regular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
.portfolio__item img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.mainblock__image {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.btn {
	display: inline-block;
	font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
	line-height: calc(30px + 17 * ((100vw - 320px) / 1600));
	width: calc(150px + 32 * ((100vw - 320px) / 1600));
	letter-spacing: 0.06em;
}
.btn-white {
	color: #fff;
	border: 1px solid #fff;
}
.btn-white:hover {
	-webkit-box-shadow: 0px 0px 3px 1px #fff;
	        box-shadow: 0px 0px 3px 1px #fff;
	-webkit-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.btn-black {
	color: #000;
	border: 1px solid #000;
}
.btn-black:hover {
	-webkit-box-shadow: 0px 0px 3px 1px #000;
	        box-shadow: 0px 0px 3px 1px #000;
	-webkit-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}

.input {
	display: block;
	width: 100%;
	background-color: #f8f7f7;
	border-top: 1px solid #000;
	padding: 5px;
}

.tab__item {
	display: none;
}
.tab__item.active {
	display: block;
}

.title {
	font-size: calc(24px + 10 * ((100vw - 320px) / 1600));
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.16em;
}
.title span {
	display: block;
}
.title::after {
	content: "";
	display: inline-block;
	width: 81px;
	height: 1px;
	background-color: #000;
}

.text {
	font-size: 14px;
	line-height: calc(18px + 7 * ((100vw - 320px) / 1600));
	font-weight: 300;
	color: #868585;
}
@media (min-width: 1920px) {
	.text {
		font-size: calc(2px + 12 * ((100vw - 320px) / 1600));
	}
}

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

aside, nav, footer, header, section {
	display: block;
}

html, body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: "Lato", sans-serif;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}

body {
	color: #000;
	font-size: 14px;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
@media (max-width: 1112px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}
}

.mainblock {
	min-height: 100vh;
	position: relative;
}
.mainblock__content {
	position: relative;
	z-index: 1;
	min-height: 100vh;
}
.mainblock__body {
	min-height: 100vh;
	padding: calc(40px + 120 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(50px + 100 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600));
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
}
.mainblock__logo {
	margin: calc(0px + 0 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(50px + 100 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600));
}
.mainblock__logo img {
	display: inline-block;
	max-width: calc(150px + 45 * ((100vw - 320px) / 1600));
}
.mainblock__text {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	font-size: calc(24px + 10 * ((100vw - 320px) / 1600));
	line-height: calc(30px + 10 * ((100vw - 320px) / 1600));
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.16em;
	color: #fff;
}
.mainblock__text span {
	display: block;
}
.mainblock__text span:last-child {
	font-size: calc(16px + 10 * ((100vw - 320px) / 1600));
	font-weight: 400;
	text-transform: none;
	margin: calc(0px + 0 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(20px + 25 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600));
}
.mainblock__text::after {
	content: "";
	display: inline-block;
	width: 105px;
	height: 2px;
	background-color: #fff;
}
.mainblock__button {
	margin: calc(20px + 20 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(20px + 50 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600));
}
.mainblock__arrow {
	display: inline-block;
	position: relative;
	-webkit-animation: arrow 2s ease infinite;
	        animation: arrow 2s ease infinite;
}
@keyframes arrow {
	0% {
		top: 0;
	}
	50% {
		top: 10px;
	}
	100% {
		top: 0;
	}
}
@-webkit-keyframes arrow {
	0% {
		top: 0;
	}
	50% {
		top: 10px;
	}
	100% {
		top: 0;
	}
}
.content {
	background-color: #fff;
	position: relative;
	z-index: 2;
}

.about__header {
	border: 1px solid #f3f3f3;
}
.about__body {
	padding: calc(15px + 25 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(15px + 25 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600));
	text-align: center;
}
.about__title {
	padding: calc(40px + 40 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600));
}
.about__text {
	margin: 0 auto;
	max-width: 690px;
	margin-top: calc(15px + 20 * ((100vw - 320px) / 1600));
}
.about__row {
	padding: calc(10px + 30 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(10px + 30 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600));
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0 -15px;
}
.about__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 33.333%;
	        flex: 0 1 33.333%;
	padding: calc(10px + 10 * ((100vw - 320px) / 1600)) calc(10px + 5 * ((100vw - 320px) / 1600)) calc(10px + 10 * ((100vw - 320px) / 1600)) calc(10px + 5 * ((100vw - 320px) / 1600));
}
.about__item {
	max-width: 260px;
	height: 100%;
}
.about__map {
	max-width: 825px;
	height: calc(300px + 40 * ((100vw - 320px) / 1600));
	margin: 0 auto;
	margin-top: calc(15px + 20 * ((100vw - 320px) / 1600));
}
@media (max-width: 767.98px) {
	.about__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
	.about__item {
		max-width: none;
	}
}

.header__menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.header__item {
	font-size: calc(12px + 3 * ((100vw - 320px) / 1600));
	line-height: 1.2;
	font-weight: 400;
	color: #3c3c3c;
	text-transform: uppercase;
	cursor: pointer;
	margin: calc(10px + 10 * ((100vw - 320px) / 1600)) calc(10px + 10 * ((100vw - 320px) / 1600)) calc(10px + 10 * ((100vw - 320px) / 1600)) calc(10px + 10 * ((100vw - 320px) / 1600));
}
.header__item.active {
	font-weight: 700;
	color: #ada074;
}

.item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.item__image {
	display: inline-block;
	border: 1px solid #f2f2f2;
	width: 90px;
	height: 90px;
	border-radius: 50%;
}
.item__image img {
	position: relative;
	top: 25px;
	left: 0;
}
.item__title {
	font-size: calc(18px + 4 * ((100vw - 320px) / 1600));
	line-height: 1.2;
	letter-spacing: 0.16em;
	margin: calc(15px + 20 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(15px + 20 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600));
}
.item__text {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}

.portfolio {
	background-color: #f3f3f3;
}
.portfolio__body {
	text-align: center;
	padding: calc(40px + 60 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(30px + 30 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600));
}
.portfolio__filter {
	margin: calc(20px + 30 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(20px + 30 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600));
}
.portfolio__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0 -12.5px;
	padding: calc(12.5px + 40 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600));
}
.portfolio__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
	padding: 7.5px 12.5px 7.5px 12.5px;
}
.portfolio__item {
	min-height: calc(300px + 65 * ((100vw - 320px) / 1600));
	position: relative;
	display: block;
}
.portfolio__item img {
	max-width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.portfolio__button {
	margin: calc(20px + 30 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600));
}
@media (max-width: 767.98px) {
	.portfolio__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
}

.filter__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.filter__item {
	font-size: calc(12px + 3 * ((100vw - 320px) / 1600));
	line-height: 1.2;
	font-weight: 400;
	color: #3c3c3c;
	text-transform: uppercase;
	cursor: pointer;
	margin: calc(10px + 10 * ((100vw - 320px) / 1600)) calc(10px + 10 * ((100vw - 320px) / 1600)) calc(10px + 10 * ((100vw - 320px) / 1600)) calc(10px + 10 * ((100vw - 320px) / 1600));
}
.filter__item.active {
	font-weight: 700;
	color: #ada074;
}

.partners__body {
	text-align: center;
	padding: calc(30px + 60 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(30px + 60 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600));
}
.partners__title {
	font-size: calc(22px + 8 * ((100vw - 320px) / 1600));
	font-weight: 300;
	letter-spacing: 0.06em;
	color: #fff;
}
.partners__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: calc(30px + 60 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600));
}
.partners__column {
	padding: calc(0px + 0 * ((100vw - 320px) / 1600)) calc(15px + 40 * ((100vw - 320px) / 1600)) calc(10px + 0 * ((100vw - 320px) / 1600)) calc(15px + 40 * ((100vw - 320px) / 1600));
}

.contacts__body {
	text-align: center;
	padding: calc(40px + 80 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(30px + 60 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600));
}
.contacts__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0 -15px;
}
.contacts__column {
	padding: calc(30px + 70 * ((100vw - 320px) / 1600)) calc(15px + 0 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(15px + 0 * ((100vw - 320px) / 1600));
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
}
@media (max-width: 479.98px) {
	.contacts__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
	}
}
.contacts__form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
@media (max-width: 479.98px) {
	.contacts__form {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

.form-contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.form-contacts__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 0;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin: 0 -30px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.form-contacts__column {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 50%;
	        flex: 0 1 50%;
	padding: 0 30px;
}
@media (max-width: 767.98px) {
	.form-contacts__column {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 100%;
		        flex: 0 1 100%;
		margin-bottom: 10px;
	}
}
.form-contacts__input {
	text-align: left;
}
.form-contacts__input input {
	height: 35px;
}
.form-contacts__label {
	display: block;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	margin: calc(5px + 0 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(5px + 15 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600));
}
.form-contacts__text {
	margin: calc(15px + 35 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(10px + 30 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600));
}
.form-contacts__text textarea {
	height: 118px;
}
.form-contacts__button {
	text-align: right;
}
@media (max-width: 479.98px) {
	.form-contacts-btn {
		display: block;
		width: 100%;
	}
}
@media (max-width: 479.98px) {
	.form-contacts {
		-webkit-box-flex: 1;
		    -ms-flex: 1 1 100%;
		        flex: 1 1 100%;
	}
}

.contacts-info {
	text-align: left;
	font-size: 14px;
	line-height: calc(18px + 8 * ((100vw - 320px) / 1600));
	max-width: 255px;
}
.contacts-info__text {
	font-weight: 300;
}
.contacts-info__name {
	font-weight: 700;
	margin: calc(10px + 30 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(20px + 0 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600));
}
.contacts-info__email {
	margin: 20px 0px;
}
.contacts-info__email a {
	color: #000;
	font-weight: 700;
}
.contacts-info__email a:hover {
	text-decoration: underline;
}
@media (max-width: 479.98px) {
	.contacts-info {
		text-align: center;
		max-width: 100%;
	}
}

.social__item {
	margin-right: 10px;
}

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.ibg > img {
	display: none;
}

input[type=text], input[type=email], input[type=tel], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	border-radius: 0 !important;
}
.input.focus {
	border-top: 1px solid blue;
}
.input.err {
	border-top: 1px solid red;
}

textarea.input {
	resize: none;
}

/*!
 * baguetteBox.js
 * @author  feimosi
 * @version %%INJECT_VERSION%%
 * @url https://github.com/feimosi/baguetteBox.js
 */
#baguetteBox-overlay {
	display: none;
	opacity: 0;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000000;
	background-color: #222;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
#baguetteBox-overlay.visible {
	opacity: 1;
}
#baguetteBox-overlay .full-image {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}
#baguetteBox-overlay .full-image figure {
	display: inline;
	margin: 0;
	height: 100%;
}
#baguetteBox-overlay .full-image img {
	display: inline-block;
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	        box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
#baguetteBox-overlay .full-image figcaption {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	line-height: 1.8;
	white-space: normal;
	color: #ccc;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.6);
	font-family: sans-serif;
}
#baguetteBox-overlay .full-image:before {
	content: "";
	display: inline-block;
	height: 50%;
	width: 1px;
	margin-right: -1px;
}

#baguetteBox-slider {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	white-space: nowrap;
	-webkit-transition: left 0.4s ease, -webkit-transform 0.4s ease;
	transition: left 0.4s ease, -webkit-transform 0.4s ease;
	-o-transition: left 0.4s ease, transform 0.4s ease;
	transition: left 0.4s ease, transform 0.4s ease;
	transition: left 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
}
#baguetteBox-slider.bounce-from-right {
	-webkit-animation: bounceFromRight 0.4s ease-out;
	        animation: bounceFromRight 0.4s ease-out;
}
#baguetteBox-slider.bounce-from-left {
	-webkit-animation: bounceFromLeft 0.4s ease-out;
	        animation: bounceFromLeft 0.4s ease-out;
}

@-webkit-keyframes bounceFromRight {
	0% {
		margin-left: 0;
	}
	50% {
		margin-left: -30px;
	}
	100% {
		margin-left: 0;
	}
}

@keyframes bounceFromRight {
	0% {
		margin-left: 0;
	}
	50% {
		margin-left: -30px;
	}
	100% {
		margin-left: 0;
	}
}
@-webkit-keyframes bounceFromLeft {
	0% {
		margin-left: 0;
	}
	50% {
		margin-left: 30px;
	}
	100% {
		margin-left: 0;
	}
}
@keyframes bounceFromLeft {
	0% {
		margin-left: 0;
	}
	50% {
		margin-left: 30px;
	}
	100% {
		margin-left: 0;
	}
}
.baguetteBox-button#previous-button, .baguetteBox-button#next-button {
	top: 50%;
	top: calc(50% - 30px);
	width: 44px;
	height: 60px;
}

.baguetteBox-button {
	position: absolute;
	cursor: pointer;
	outline: none;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 15%;
	background-color: #323232;
	background-color: rgba(50, 50, 50, 0.5);
	color: #ddd;
	font: 1.6em sans-serif;
	-webkit-transition: background-color 0.4s ease;
	-o-transition: background-color 0.4s ease;
	transition: background-color 0.4s ease;
}
.baguetteBox-button:focus, .baguetteBox-button:hover {
	background-color: rgba(50, 50, 50, 0.9);
}
.baguetteBox-button#next-button {
	right: 2%;
}
.baguetteBox-button#previous-button {
	left: 2%;
}
.baguetteBox-button#close-button {
	top: 20px;
	right: 2%;
	right: calc(2% + 6px);
	width: 30px;
	height: 30px;
}
.baguetteBox-button svg {
	position: absolute;
	left: 0;
	top: 0;
}

/*
    Preloader
    Borrowed from http://tobiasahlin.com/spinkit/
*/
.baguetteBox-spinner {
	width: 40px;
	height: 40px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
}

.baguetteBox-double-bounce1,
.baguetteBox-double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: bounce 2s infinite ease-in-out;
	        animation: bounce 2s infinite ease-in-out;
}

.baguetteBox-double-bounce2 {
	-webkit-animation-delay: -1s;
	        animation-delay: -1s;
}

@-webkit-keyframes bounce {
	0%, 100% {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	50% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes bounce {
	0%, 100% {
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
	50% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}
/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
.footer {
	background-color: #3c3c3c;
	position: relative;
	z-index: 2;
}
.footer__row {
	text-align: center;
	padding: calc(20px + 30 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(20px + 30 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600));
}
.footer__list {
	margin: calc(10px + 20 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600)) calc(10px + 20 * ((100vw - 320px) / 1600)) calc(0px + 0 * ((100vw - 320px) / 1600));
}
.footer__link {
	display: inline-block;
	font-size: 14px;
	color: #a4a4a4;
	margin: 10px;
}
@media (min-width: 1920px) {
	.footer__link {
		font-size: calc(2px + 12 * ((100vw - 320px) / 1600));
	}
}
.footer__link:hover {
	color: #fff;
}
.footer__rights {
	font-family: "MyriadPro", sans-serif;
	font-size: 14px;
	color: #6c6c6c;
}
@media (min-width: 1920px) {
	.footer__rights {
		font-size: calc(2px + 12 * ((100vw - 320px) / 1600));
	}
}